directory.default.set = /download
schedule = watch_directory,5,5,load.start=/torrent/*.torrent
pieces.hash.on_completion.set = yes
throttle.global_down.max_rate.set_kb = 0
throttle.global_up.max_rate.set_kb = 0
network.port_range.set = 50000-50000
network.port_random.set = no
protocol.encryption.set = allow_incoming,try_outgoing,enable_retry
session.path.set = /run/rtorrent
trackers.use_udp.set = yes
protocol.pex.set = 1
dht.mode.set = auto
dht.port.set = 6881
system.daemon.set = true
encoding_list = UTF-8
scgi_port = localhost:5000
